@model dotnetapp.Models.Flight

<h2>Update Flight</h2>

<form asp-action="Update" method="post">
    <div>
        <input type="hidden" asp-for="ID" />
    </div>
    <div>
        <label asp-for="Departure"></label>
        <input asp-for="Departure" />
    </div>
    <div>
        <label asp-for="Duration"></label>
        <input asp-for="Duration" />
    </div>
    <div>
        <label asp-for="Arrival"></label>
        <input asp-for="Arrival" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div>
        <label asp-for="Airline"></label>
        <input asp-for="Airline" />
    </div>
    <div>
        <label asp-for="FlightNumber"></label>
        <input asp-for="FlightNumber" />
    </div>
    <div>
        <input type="submit" value="Update" />
    </div>
</form>
